@charset "UTF-8";

.document {
    background-color: #eee;
    width: 400px;
    height: 400px;
    border: 2px #ccc solid;
    border-radius: 2px;
    position: fixed;
    box-shadow: 1px 1px 5px #ddd;
}

.document.sourcedoc {
    background-color: #ffe;
}

.document.xanadoc {
    background-color: #eef;
}

.scale {
    transform: scale(2);
}

#edlform {
    padding: 5px;
	margin: 10px;
    width: 400px;
    background-color: #eee;
    border: 1px black solid;
    position: fixed;
    left: 20px;
    top: 20px;
}

.heading {
    background-color: #ccc;
    width: 100%;
    height: 2em;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.heading>.controls {
    position: fixed;
    right: 5px;
    top: 5px;
}

.wrapper {
    position: absolute;
    top: 2em;
    bottom: 0px;
    width: 100%;
}

.body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0px 10px 0px 10px;
}

.transclusion,.link {
    padding: 2px;
    cursor: pointer;
}

.bridged {
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 0px;
}

.bridged[data-bridge-side="left"] {
    border-left-style: solid;
    padding-right: 2px;
}

.bridged[data-bridge-side="right"] {
    border-right-style: solid;
    padding-left: 2px;
}

.transclusion {
    color: #c5905c;
    border-color: rgba(255, 152, 0, 0.4);
}

.link {
    color: #2bbbad;
    border-color: rgba(0, 188, 212, 0.4);
}

.transclusion.xan-hover {
    background-color: rgba(255, 152, 0, 0.4);
    color: #95602c;
    border: none;
    padding: 2px;
}

.link.xan-hover {
    background-color: rgba(0, 188, 212, 0.4);
    color: #008b7d;
    border: none;
    padding: 2px;
}

.xan-bridge {
    opacity: 0.4;
    fill-opacity: 0;
    pointer-events: auto;
}

.xan-bridge .bridge-stroke {
    stroke-width: 2;
    fill-opacity: 0;
}

.xan-bridge .bridge-fill {
    stroke-width: 0;
    fill-opacity: 1.0;
    visibility: hidden;
}

.xan-bridge.xan-hover .bridge-fill {
    visibility: visible;
}

.xan-bridge.bridge {
    fill:   #ff9800;
    stroke: #ff9800;
}
.xan-bridge.linkbridge {
    fill:   #00bcd4;
    stroke: #00bcd4;
}

html, body { margin:0; padding:0; overflow:hidden; }
svg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

.paylink {
    background-color: #33BDFF;
    color: black;
    padding: 2px;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

#top {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#alerts {
    position: fixed;
    left: 2px;
    bottom: 2px;
    z-index:1000;
    opacity: 0.8;
}

#tiling {
    display:  flex;
    position: absolute;
    width:    100%;
    height:   100%;
    overflow: hidden;
    pointer-events: none;
}

.tile-col-wrap {
    flex: 50%;
}

.tile-col-gap {
    flex: 5%;
    pointer-events: auto;
    border-left: 1px dashed #e0e0e0;
    border-right: 1px dashed #e0e0e0;
}

.tile-col {
    display:         table;
    table-layout:    auto;
    position:        relative;
    width:           100%;
    height:          100%;
    border-spacing:  0px 10px;
    padding:         0px 10px 0px 10px;
}

.tile {
    display:  table-row;
    position: relative;
    width:    100%;
}

.tile:before {
    /* Trick firefox into rendering tiles where they ought to be */
    content: "";
}

#tile-strat-ctl {
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index:1000;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    width: 40px;
    opacity: 0.6;
    font-size: 2em;
    padding: 0;
}

#tile-strat-ctl[data-tile-layout="float"]:before {
    content: '⎗';
}

#tile-strat-ctl[data-tile-layout="stack"]:before {
    content: '☷';
}

.lbl-loading:before {
    content: '⌛';
}

button.close {
    padding-left: 10px;
}

a.close {
    padding: 0px 0px 0px 10px;
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;
}
